/* ============================================
  Reset
============================================ */

img {
  vertical-align: top;
  max-width: 100%;
}

/* ============================================
  Base
============================================ */

a {
  transition: all 300ms;
  text-decoration: none;
}

a:hover {
  opacity: .65;
}

/* ============================================
  Wrapper
============================================ */

.wrapper {
  border-top: calc(13/960*100vw) solid #5C838E;
}
@media(min-width: 961px) {
  .wrapper {
    border-top-width: 13px;
  }
}

/* ============================================
  Section
============================================ */

.section {
  width: 100%;
  margin: 0 auto;
}

.section>.inner {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

/* Section01 */

.section01 .link01 {
  position: fixed;
  top: 20px;
  z-index: 999;
  max-width: 160px;
  width: calc(160/960*100vw);
  max-height: 160px;
  height: calc(160/960*100vw);
  margin-left: calc(766/960*100vw);
}

@media(min-width: 961px) {
  .section01 .link01 {
    top: 50px;
    margin-left: 766px;
  }
}

/* Section06 */

.section06 {
  background-color: #5C838E;
}

.section06_01 .link01 {
  position: absolute;
  left: 50%;
  bottom: calc(155/960*100vw);
  transform: translateX(-50%);
  background: url(../img/btn_cp01_on.png) no-repeat 0 0 / cover;
  max-width: 427px;
  width: calc(427/960*100vw);
}

.section06_07 .link01 {
  position: absolute;
  left: 50%;
  bottom: calc(152/960*100vw);
  transform: translateX(-50%);
  background: url(../img/btn_cp01_on.png) no-repeat 0 0 / cover;
  max-width: 407px;
  width: calc(407/960*100vw);
}

@media(min-width: 961px) {
  .section06_01 .link01 {
    bottom: 157px
  }
  .section06_07 .link01 {
    bottom: 154px
  }
}

/* ============================================
  Accordion
============================================ */

.accordion {
  position: relative;
  min-height: calc(266/960*100vw);
}

.accordionTrigger {
  position: absolute;
  top: 0;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

@media(min-width: 961px) {
  .accordion {
    min-height: 266px;
  }
}

/* ============================================
  Form
============================================ */

.form {
  text-align: center;
}

.form iframe {
  width: 100%;
}

.link02 a:hover {
  opacity: 1
}

.link02 a:hover img{
  opacity: 0;
  transition: 0.3s;
}
















/*------------------------------------------------------------
12/15 gnavここまで
------------------------------------------------------------*/

/*------------------------------------------------------------
12/15 header-kasou
------------------------------------------------------------*/

.display {
  width: 1050px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
.gnavi_block{
  height: 85px;
}
/*------------------------------------------------------------
12/15 gnav
------------------------------------------------------------*/
#gnavi {
width: 100vw;
height: 85px;
background: #5d848e;
position: fixed;
top: 0;
left: 0;
z-index: 1000;
-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
/*hamburger menu open style*/
/* nav */ }
#gnavi.fixed {
position: fixed;
top: 0;
left: 0; }
#gnavi .display {
height: 100%; }
#gnavi #nav_toggle {
display: block;
width: 30px;
height: 30px;
position: absolute;
top: 30px;
z-index: 100; }
#gnavi #nav_toggle div {
position: relative; }
#gnavi #nav_toggle div span {
display: block;
height: 2px;
background: #FFF;
position: absolute;
width: 100%;
left: 0;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out; }
#gnavi #nav_toggle div span:nth-child(1) {
top: 0px; }
#gnavi #nav_toggle div span:nth-child(2) {
top: 10px; }
#gnavi #nav_toggle div span:nth-child(3) {
top: 20px; }
#gnavi.open #nav_toggle div span:nth-child(1) {
top: 10px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
transform: rotate(135deg); }
#gnavi.open #nav_toggle div span:nth-child(2) {
width: 0;
left: 50%; }
#gnavi.open #nav_toggle div span:nth-child(3) {
top: 10px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
transform: rotate(-135deg); }
#gnavi nav {
display: none;
position: absolute;
top: 85px;
left: 0;
width: auto;
background: #5d848e;
z-index: 100; }
#gnavi nav > ul {
padding-bottom: 40px; }
#gnavi nav > ul > li {
list-style: none; }
#gnavi nav > ul > li a {
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
font-weight: 500;
-webkit-font-feature-settings: "palt";
font-feature-settings: "palt";
letter-spacing: 0.04em;
font-weight: 400;
display: block;
padding: 12px 52px;
color: #FFF; }
/*------------------------------------------------------------
12/15 gnavここまで
------------------------------------------------------------*/

#gnavi .logo {
position: absolute;
top: 50%;
left: 50%;
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-o-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%); 
margin-top:-4px;
margin-left:-2px;
}


#gnavi .logo img {
width: auto;
height: 75px;
margin-top: 8px;
}
#gnavi .iconArea {
float: right;
margin: 22px 0 0; }
#gnavi .iconArea > li {
list-style: none;
float: left;
margin-left: 20px; }
#gnavi .iconArea > li:nth-of-type(1) {
list-style: none;
float: left;
margin-right: 50px; }
#gnavi .iconArea > li a {
display: block; }
#gnavi .iconArea > li a img {
width: auto;
height: 40px; }

/*------------------------------------------------------------
12/15 gtell
------------------------------------------------------------*/
#gtell_toggle {
display: block;
width: 30px;
height: 30px;
position: absolute;
top: 22px;
right:80px;
z-index: 100; }
#gtell_toggle:hover{
opacity:0.7;
}
#gtell_toggle div {
position: relative;
top:10px;
}
#gtell_toggle div img{
margin-top:-10px;
width: 28.95px;
}
#gtell_toggle div span {
display: block;
height: 2px;
background: #FFF;
position: absolute;
width: 100%;
left: 0;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;
opacity:0;
}
#gtell_toggle div span:nth-child(2) {
top: 0px; }
#gtell_toggle div span:nth-child(3) {
top: 10px; }
#gtell_toggle div span:nth-child(4) {
top: 20px; }
#gtell.open #gtell_toggle div img{
opacity:0;
}
#gtell.open #gtell_toggle div span:nth-child(2) {
opacity:1;
top: 10px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
transform: rotate(135deg); }
#gtell.open #gtell_toggle div span:nth-child(3) {
opacity:1;
width: 0;
left: 50%; }
#gtell.open #gtell_toggle div span:nth-child(4) {
opacity:1;
top: 10px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
transform: rotate(-135deg); }
#gtell .gtell {
display: none;
position: absolute;
top: 84px;
right:0px;
width: auto;
background: #5d848e;
z-index: 100;
padding:0 20px;
}
#gtell .gtell > ul {
display:block;
margin: 0 auto;
padding-bottom: 40px; 
  font-family: "Yu Gothic","游ゴシック",YuGothic,"Hiragino Kaku Gothic Pro","メイリオ", Meiryo,"MS Pゴシック", Helvetica, Arial, Verdana, sans-serif;
}
#gtell .gtell > ul > li {
margin:20px auto;
color:#fff;
font-size:12px;
text-align:center;
letter-spacing:2px;
list-style: none; 
}
#gtell .gtell > ul > li:nth-child(1){
margin:30px auto;
font-size:18px;
}
#gtell .gtell > ul > li:nth-child(2){
margin:20px auto;
font-size:18px;
}
#gtell .gtell > ul > li a {
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
-webkit-font-feature-settings: "palt";
font-feature-settings: "palt";
letter-spacing: 8px;
font-weight: 400;
display: block;
margin:0 auto;
box-sizing:border-box;
margin:20px;
margin-bottom:30px;
padding: 5px 20px;
color: #4f714c;
background: #ffff49;
font-size:24px;
position:relative;
}
#gtell .gtell > ul > li a:after{
font-family: 'FontAwesome';
content: "＞";
position: absolute;
top: 25%;
right: 10px;
font-size:14px;
}
/*------------------------------------------------------------
12/15 gtellここまで
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
.display {
  width: auto;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
#gnavi #nav_toggle {
  left: 12px; }
#gnavi nav {
  width: 100%; }
#gnavi nav > ul > li a {
  text-align: center; }
#gnavi .iconArea {
  margin: 22px 12px 0 0; }
#gnavi .iconArea > li {
  margin-left: 12px; } 
#gtell .gtell {
width: 100%;
padding:0;
}
#gtell .gtell > ul{
  overflow-y:scroll;
  width:100%;
}
#gnavi .iconArea > li:nth-of-type(1) {
display:none;
}

#gtell .gtell > ul > li:nth-child(1){
margin:15px auto;
font-size:16px;
}
#gtell .gtell > ul > li:nth-child(2){
margin:5px auto;
font-size:14px;
}
#gtell .gtell > ul > li {
display:block;
margin:10px auto;
color:#fff;
font-size:10px;
text-align:center;
letter-spacing:2px;
list-style: none; 
  line-height:1.8;
}
#gtell .gtell > ul > li a{
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
-webkit-font-feature-settings: "palt";
font-feature-settings: "palt";
letter-spacing: 8px;
font-weight: 400;
display: block;
box-sizing:border-box;
margin:5px 45px;
padding: 2px 10px;
color:#66828d;
background: #fff;
font-size:18px;
}
#gtell .gtell > ul > li a:after{
font-family: 'FontAwesome';
content: "＞";
position: absolute;
top: 17%;
right: 10px;
font-size:14px;
}
#gnavi.none #nav_toggle{
display:none;
}
}
.page_logo{
display:none;}

/*------------------------------------------------------------
12/17 バナーここから
------------------------------------------------------------*/
.top-bn {
position: fixed;
top:300px;
right: 20px;
font-size: 77%;
z-index:30;
}
.top-bn a{
text-decoration: none;
color: #fff;
width: 100%;
text-align: center;
display: block;
}
.top-bn a img{
width: 150px;
}
.top-bn a:hover {
opacity: 0.7;
}
.sp-bn {
width: 100%;
position: fixed;
top:auto;
bottom: 0;
right:0;
left:0;
margin: auto;
z-index:30;
}
.sp-bn a{
text-decoration: none;
color: #fff;
width: 100%;
text-align: center;
display: block;
}
.sp-bn a img{
width: 100%;
}
.sp-bn a:hover {
opacity: 0.7;
}
.top-bn a{
display: block;
}
.sp-bn a{
display: none;
}


@media screen and (max-width:700px){

.top-bn a{
  display: none;
}
.sp-bn a{
  display: block;
}
}
/*------------------------------------------------------------
12/17 バナーここまで
------------------------------------------------------------*/
footer{
  /*------margin-bottom: 150px;-------------*/
color: #555;
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
font-size: 80%;
letter-spacing: 0.07em;
line-height: 1.5;
text-align: center;}
small{
text-align: center;
}
/*------------------------------------------------------------
12/18 インタビューページリンク切り替え
------------------------------------------------------------*/
.pc-intv-link{
	display:block;
}
.sp-intv-link{
	display:none;
}
@media screen and (max-width:768px){
	.pc-intv-link{
	display:none;
}
.sp-intv-link{
	display:block;
}
}
/*------------------------------------------------------------
12/18 バナーここまでリンク切り替え
------------------------------------------------------------*/