@charset "UTF-8";
body {
  min-width  : 100vw;
  color      : #333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
  font-size: 100%;
  position   : relative;
}
img {
  border        : none;
  vertical-align: bottom;
  max-width: 100%;
}
ul, ol { list-style: none;}
.btn { display: inline-block;}
.btn img { transition: .3s;}
.btn:hover img { opacity: .7;}
.flex {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}
.posr { position: relative;}
.inview li { opacity: 0;}
.inview li:nth-child(1) { transition: 1s;}
.inview li:nth-child(2) { transition: 1s .2s;}
.inview li:nth-child(3) { transition: 1s .4s;}
.inview li:nth-child(4) { transition: 1s .6s;}
.inview li:nth-child(5) { transition: 1s .8s;}
.inview li:nth-child(6) { transition: 1s 1s;}
.inview li:nth-child(7) { transition: 1s 1.2s;}
.inview li:nth-child(8) { transition: 1s 1.4s;}
.inview li:nth-child(9) { transition: 1s 1.6s;}
.inview li:nth-child(10) { transition: 1s 1.8s;}
.is-inview li { opacity: 1;}
.main, .footer {
  width     : 100vw;
  margin    : 0 auto;
  text-align: center;
}
.main-visual {
  position: relative;
  z-index : 1;
}
.main-visual, .offer, .offer2, .sec1,.sec2, .sec3, .sec4, .sec5, .sec6,.sec7,
.sec8, .sec9, .sec10, .sec11,.sec12, .sec13,.sec14, .sec15,.sec16,
.sec17, .sec18, .sec19, .sec20, .sec21, .sec22, .footnote,.form-btn a{ max-width: 100vw;}
.main-gif {
  /* width   : 100%; */
  position: absolute;
  top     : 70px;
  right: -20px;
}
.sec1 {
  background   : #f3f9ff;
  margin-top   : -360px;
  margin-bottom: -160px;
}
.offer {
  position: relative;
  z-index : 1;
}
.offer-box1, .offer-box2 { position: relative;}
.offer-box1 { padding-bottom: 15px;}
.offer-btn1, .offer-btn2 { position: absolute;}
.offer-btn1 {
  width: 100%;
  left : 0px;
  top  : 1030px;
}
.offer-btn2 {
  height     : 100%;
  display    : flex;
  align-items: center;
  top        : 0;
  right      : 59px;
}
.offer .offer-box1 { background: linear-gradient(transparent 154px, #f3f9ff 154px);}
.sec2 {
  margin-top: -330px;
  position  : relative;
}
.sec2-abs {
  color      : #053973;
  font-family: "Sawarabi Mincho","ＭＳ Ｐ明朝", MS PMincho, "ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, serif;
  /* font-size: 240%; */
  font-weight: bold;
  line-height: 1.2em;
  position   : absolute;
/*  top: 18%;
  right: 3%;*/
  font-size: 1.2em;
  top      : 16%;
  left     : 2%;

}
.sec3 {/* margin-top: -673px; */}
.sec3 li { background-repeat: no-repeat;}
.sec3 ul:nth-of-type(1) li { background-image: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/bg-sec3-1.png);}
.sec3 ul:nth-of-type(2) li { background-image: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/bg-sec3-2.png);}
.sec3 ul:nth-of-type(3) li { background-image: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/bg-sec3-3.png);}
.sec4 li { position: absolute;}
.sec4 li:nth-child(1) {
  left: 367px;
  top : 92px;
}
.sec4 li:nth-child(2) {
  left: 262px;
  top : 263px;
}
.sec4 li:nth-child(3) {
  left: 211px;
  top : 454px;
}
.sec4 li:nth-child(4) {
  left: 262px;
  top : 646px;
}
.sec4 li:nth-child(5) {
  left: 367px;
  top : 814px;
}
.sec7 { margin-top: -161px;}
.sec9 { position: relative;}
.sec9 ul {
  width   : 100%;
  position: absolute;
  top     : 487px;
  left    : 0px;
}
.sec9 li { position: absolute;}
.sec9 li:nth-child(1) {
  left: 28px;
  top : 425px;
}
.sec9 li:nth-child(2) {
  left: 29px;
  top : 149px;
}
.sec9 li:nth-child(3) {
  left: 284px;
  top : 17px;
}
.sec9 li:nth-child(4) {
  left: 544px;
  top : 151px;
}
.sec9 li:nth-child(5) {
  left: 544px;
  top : 441px;
}
.sec9 figure {
  position: absolute;
  left    : 214px;
  top     : 701px;
}
.sec10 {
  margin-top: -409px;
  position  : relative;
}
.sec11 li { position: absolute;}
.sec11 li:nth-child(1) {
  left: 400px;
  top : 71px;
}
.sec11 li:nth-child(2) {
  left: 535px;
  top : 199px;
}
.sec11 li:nth-child(3) {
  left: 613px;
  top : 366px;
}
.sec11 li:nth-child(4) {
  left: 535px;
  top : 536px;
}
.sec11 li:nth-child(5) {
  left: 400px;
  top : 663px;
}
.sec11 li:nth-child(6) {
  left: 223px;
  top : 663px;
}
.sec11 li:nth-child(7) {
  left: 88px;
  top : 536px;
}
.sec11 li:nth-child(8) {
  left: 10px;
  top : 366px;
}
.sec11 li:nth-child(9) {
  left: 88px;
  top : 199px;
}
.sec11 li:nth-child(10) {
  left: 223px;
  top : 71px;
}
.sec13 ul {
  height    : 680px;
  background: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/fig-sec13-2.png) no-repeat center top;
  position  : relative;
}
.sec13 li { position: absolute;}
.sec13 li:nth-child(1) {
  left: 302px;
  top : 0px;
}
.sec13 li:nth-child(2) {
  left: 100px;
  top : 92px;
}
.sec13 li:nth-child(3) {
  left: 49px;
  top : 310px;
}
.sec13 li:nth-child(4) {
  left: 189px;
  top : 478px;
}
.sec13 li:nth-child(5) {
  left: 415px;
  top : 478px;
}
.sec13 li:nth-child(6) {
  left: 552px;
  top : 310px;
}
.sec13 li:nth-child(7) {
  left: 502px;
  top : 93px;
}
.sec16 {
  background    : #a1ddde;
  padding-bottom: 20px;
}
.sec16 h2 {
  margin-bottom: -61px;
  position     : relative;
  top          : -61px;
}
.sec17 > p { margin-bottom: 30px;}
.sec17 .acc { margin-bottom: 40px;}
.sec17 .acc-txt {
  display   : none;
  margin-top: 50px;
}
.sec17 .acc-btn {
  width      : 280px;
  height     : 82px;
  background : url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/btn-acc1.png) no-repeat;
  cursor     : pointer;
  margin     : 0 auto;
  text-indent: -9999px;
}
.sec17 .acc-btn span { display: none;}
.sec17 .is-active .acc-btn {
  background-image: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/btn-acc2.png);
  margin-top      : 30px;
}
.sec17 .is-active .acc-txt { display: block;}
.sec18 .acc dt {
  margin-bottom: 50px;
  position     : relative;
}
.sec18 .acc dt:hover { cursor: pointer;}
.sec18 .acc dt:after {
  content   : "";
  width     : 54px;
  height    : 54px;
  background: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/icon-plus.png) no-repeat;
  margin    : auto;
  position  : absolute;
  right     : 50px;
  top       : 0;
  bottom    : 0;
}
.sec18 .acc dd {
  display      : none;
  margin-bottom: 70px;
}
.sec18 .acc .is-active:after { background-image: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/icon-minus.png);}
.sec18 .acc .is-active + dd { display: block;}
.offer2 { margin-top: 80px;}
.offer2 .offer-box1 { margin-bottom: 10px;}
.sec19 ul {
  border : 2px solid #0f559a;
  margin : 0 20px;
  padding: 27px 12px 11px 21px;
}
.sec19 li {
  display        : flex;
  justify-content: space-between;
  align-items    : flex-start;
  margin-bottom  : 16px;
}
.sec19 li:last-child { margin-bottom: 0;}
.sec19 li a {
  display   : block;
  margin-top: -6px;
}
.sec19 li + li {
  border-top : 1px solid #0f559a;
  padding-top: 30px;
}
.sec19 li>img{
  width: 58%;
  margin-right: 5px;
}
.sec21 h2 { margin: 30px 0;}
.sec21 .graph { padding: 30px 0;}
.sec22 { position: relative;}
.sec22-abs{
  font-family: "Sawarabi Mincho","ＭＳ Ｐ明朝", MS PMincho,"ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, serif;
  font-size  : 180%;
  font-weight: bold;
  position   : absolute;
  line-height: 1.6em;
  top        : 22%;
  left       : 14%;
 }
.sec22 h2 {
  position: absolute;
  top     : 0;
  z-index : 1;
}
.form iframe {
  width :100vw;
  height: 1900px;
}
.form-btn {
  position  : fixed;
  bottom    : 0;
  transition: .3s;
  z-index   : 99;
}
.form-btn a {
  display   : block;
  transition: .3s;
}
.form-btn a:hover { opacity: .7;}
.is-inview .form-btn {
  opacity: 0;
  z-index: -1;
}
.footer ul {
  display        : flex;
  justify-content: center;
  margin-bottom  : 20px;
}
.footer li {
  font-family: "ＭＳ Ｐ明朝", MS PMincho, "ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, serif;
  font-size: 1.4rem;
  font-weight: bold;
  padding    : 0 12px 0 10px;
}
.footer li a {
  color          : #003871;
  text-decoration: none;
}
.footer li a:hover { opacity: .7;}
.footer li + li { border-left: 2px solid #003871;}
.frameWrap {
    width: 100vw;
    margin: 0 auto;
}
body{min-width: 100vw;}
.main, .footer {
    width     : 100vw;
    overflow-x: hidden !important;
    margin: auto;
    max-width: 800px;
}
.main-gif {
    width: 46%;
    top  : 7%;
}
footer,.sec1 img{ width: 100vw;}
.sec1 {
    margin-top   : -18%;
    margin-bottom: -7%;
    text-align   : left;
}
.offer-btn1{
    width: 94%;
    top: 55%;
    left : 3%;
}
.offer-btn2 {
    width: 34%;
    top: 0%;
    right: 8%;
}
.sec2 { margin-top: -20%;}
.sec2-abs {
    font-size: 1em;
    top      : 15%;
    left: 0;
    right: 0;
    line-height: 2;
}
.sec4 li:nth-child(1) {
    top : 2%;
    left: 36%;
}
.sec4 li,.sec9 li,.sec11 li,.sec13 li {width: 5.5rem;}
.sec4 li:nth-child(2) {
    top : 15%;
    left: 27%;
}
.sec4 li:nth-child(3) {
    top : 28%;
    left: 27%;
}
.sec4 li:nth-child(4) {
    top : 40%;
    left: 37%;
}
.sec4 li:nth-child(5) {
    top : 48%;
    left: 65%;
}
.sec7 {  margin-top: -11%;}
.sec9 figure {
    width: 45%;
    left : 25%;
    top  : 36%;
    right: 0;
}
.sec10 {margin-top: -58%;}
.sec9 li:nth-child(1) {
    left: 2%;
    top : 15%;
}
.sec9 li:nth-child(2) {
    left: 5%;
    top : 0;
}
.sec9 li:nth-child(3) {
    top : -12%;
    left: 40%;
}
.sec9 ul {
    height: 100%;
    top   : 40%;
}
.sec9 li:nth-child(4) {
    top : 0;
    left: 75%;
}
.sec9 li:nth-child(5) {
    left: 70%;
    top : 15%;
}
.sec11 li:nth-child(1) {
    top : 5%;
    left: 50%;
}
.sec11 li:nth-child(2) {
    top : 20%;
    left: 75%;
}
.sec11 li:nth-child(3) {
    top : 42%;
    left: 80%;
}
.sec11 li:nth-child(4) {
    top : 66%;
    left: 70%;
}

.sec11 li:nth-child(5) {
    top : 80%;
    left: 50%;
}
.sec11 li:nth-child(6) {
    top : 80%;
    left: 25%;
}
.sec11 li:nth-child(7) {
    top : 66%;
    left: 2%;
}
.sec11 li:nth-child(8) {
    top : 40%;
    left: 2%;
}
.sec11 li:nth-child(9) {
    top : 20%;
    left: 6%;
}
.sec11 li:nth-child(10) {
    top : 5%;
    left: 25%;
}
.sec13 li:nth-child(1) { left: 30%;}
.sec13 ul {
    height         : 20rem;
    background-size: 90%;
}
.sec13 li:nth-child(2) {
    left: 6%;
    top : 18%;
}
.sec13 li:nth-child(3) {
    top : 52%;
    left: 6%;
}
.sec13 li:nth-child(4) {
    top : 70%;
    left: 40%;
}
.sec13 li:nth-child(5) {
    top : 55%;
    left: 75%;
}
.sec13 li:nth-child(6) {
    top : 25%;
    left: 75%;
}
.sec13 li:nth-child(7) {
    left: 60%;
    top: 0;
}
.sec22-abs {
    font-size: .8rem;
    left: -14%;
    top: 9%;
    transform: scale(.55);
}

div#order { width: 100vw;}
.form iframe {max-width: 100%;height: 1500px !important;}
.ban{ display: none;}
.footer li a{
    font-size: .7rem !important;
}
.sec3 li {
    background-size: contain;
}

.sec18 .acc dt:after {
    right: 2%;
}
.frameWrap {
    max-width: 94%;
    height: 1700px;
    margin: 0 auto;
}