/* ============================================
  Reset
============================================ */

img {
  vertical-align: top;
  max-width: 100%;
}

/* ============================================
  Base
============================================ */

a {
  transition: all 300ms;
  text-decoration: none;
}

a:hover {
  opacity: .65;
}

/* inview */

.inview {
  opacity: 0;
  transform: translateY(20px);
}

.inview.is-inview {
  opacity: 1;
  transition: transform 1s ease, opacity .5s ease;
  transform: translateY(0);
}

/* ============================================
  Wrapper
============================================ */

.wrapper {
  border-top: none;
}

/* ============================================
  Inner
============================================ */

.inner {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

/* ============================================
  Header
============================================ */

.header {}

.header .btn_wrap {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  pointer-events: none;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.header .btn01 {
  display: block;
  float: right;
  pointer-events: auto;
  width: calc(255/2273*100%);
  margin-top: 45px;
}

/* ============================================
  KV
============================================ */

.kv {
  position: relative;
}

.kv_fig01 {
  position: absolute;
  top: calc(632/1242*100%);
  right: calc(188/2273*100%);
  width: calc(502/2273*100%);
}

/* ============================================
  Section
============================================ */

.section01 {}

.section01>.inner::before {
  content: "";
  display: block;
}

.section01>.inner>* {
  position: absolute;
}

/* #section01 */

#section01>.inner::before {
  padding-top: calc(2614/2273*100%);
}

#section01 .heading01 {
  top: calc(68/2273*100%);
  left: calc(64/2273*100%);
  width: calc(1192/2273*100%);
}

#section01 .pic01_01 {
  top: calc(645/2614*100%);
  right: calc(143/2273*100%);
  width: calc(1218/2273*100%)
}

#section01 .pic01_02 {
  top: calc(1409/2614*100%);
  left: calc(64/2273*100%);
  width: calc(1134/2273*100%)
}

#section01 .text01_01 {
  top: calc(581/2614*100%);
  left: calc(64/2273*100%);
  width: calc(744/2273*100%)
}

#section01 .text01_02 {
  top: calc(1663/2614*100%);
  right: calc(176/2273*100%);
  width: calc(791/2273*100%)
}

/* #section02 */

#section02>.inner::before {
  padding-top: calc(2260/2273*100%);
}

#section02 .heading02 {
  top: 0;
  left: calc(64/2273*100%);
  width: calc(858/2273*100%);
}

#section02 .pic02_01 {
  top: calc(377/2260*100%);
  right: calc(135/2273*100%);
  width: calc(1124/2273*100%);
}

#section02 .text02_01 {
  top: calc(429/2260*100%);
  left: calc(64/2273*100%);
  width: calc(877/2273*100%)
}

#section02 .text02_02 {
  top: calc(1585/2260*100%);
  left: calc(64/2273*100%);
  width: calc(2067/2273*100%)
}

#section02 .text02_03 {
  top: calc(1370/2260*100%);
  left: calc(1014/2273*100%);
  width: calc(692/2273*100%)
}

/* #section03 */

#section03>.inner::before {
  padding-top: calc(1478/2273*100%);
}

#section03 .heading03 {
  top: 0;
  right: calc(392/2273*100%);
  width: calc(630/2273*100%);
}

#section03 .pic03_01 {
  top: calc(67/1478*100%);
  left: calc(67/2273*100%);
  width: calc(1124/2273*100%);
}

#section03 .text03_01 {
  top: calc(399/1478*100%);
  right: calc(135/2273*100%);
  width: calc(884/2273*100%)
}

#section03 .text03_02 {
  top: calc(1207/1478*100%);
  left: calc(64/2273*100%);
  width: calc(2071/2273*100%)
}

/* #section04 */

#section04>.inner::before {
  padding-top: calc(1792/2273*100%);
}

#section04 .heading04 {
  top: 0;
  left: calc(64/2273*100%);
  width: calc(816/2273*100%);
}

#section04 .pic04_01 {
  top: calc(537/1792*100%);
  right: calc(133/2273*100%);
  width: calc(1084/2273*100%);
}

#section04 .text04_01 {
  top: calc(342/1792*100%);
  left: calc(64/2273*100%);
  width: calc(1674/2273*100%)
}

/* #offer */

#offer {
  background-color: #5C838E;
}

#offer>.inner::before {
  padding-top: calc(6002/2273*100%);
}

#offer .pic_offer01 {
  top: calc(162/6002*100%);
  left: calc(137/2273*100%);
  width: calc(1968/2273*100%);
}

#offer .btn01 {
  top: calc(1520/6002*100%);
  right: calc(389/2273*100%);
  width: calc(509/2273*100%);
}

#offer .btn01_02 {
  top: calc(5614/6002*100%);
  left: 50%;
  transform: translateX(-50%);
}

#offer .point01 {
  top: calc(1832/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1415/2273*100%);
}

#offer .point02 {
  top: calc(2494/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1419/2273*100%);
}

#offer .point03 {
  top: calc(3129/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1916/2273*100%);
}

#offer .point04 {
  top: calc(3682/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1922/2273*100%);
}

#offer .note01 {
  top: calc(4256/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1916/2273*100%);
}

#offer .description01 {
  top: calc(4504/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1638/2273*100%);
}

#offer .description02 {
  top: calc(5276/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1898/2273*100%);
}














/*------------------------------------------------------------
12/15 gnavここまで
------------------------------------------------------------*/

/*------------------------------------------------------------
12/15 header-kasou
------------------------------------------------------------*/

.display {
  width: 1050px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
.gnavi_block{
  height: 85px;
}
main{
  margin-top: 50px;
}
h1 img{
  width: 1000px;
  display: block;
  margin: 0 auto;
}
/*------------------------------------------------------------
12/15 gnav
------------------------------------------------------------*/
#gnavi {
width: 100vw;
height: 85px;
background: #5d848e;
position: fixed;
top: 0;
left: 0;
z-index: 100;
-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
/*hamburger menu open style*/
/* nav */ }
#gnavi.fixed {
position: fixed;
top: 0;
left: 0; }
#gnavi .display {
height: 100%; }
#gnavi #nav_toggle {
display: block;
width: 30px;
height: 30px;
position: absolute;
top: 30px;
z-index: 100; }
#gnavi #nav_toggle div {
position: relative; }
#gnavi #nav_toggle div span {
display: block;
height: 2px;
background: #FFF;
position: absolute;
width: 100%;
left: 0;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out; }
#gnavi #nav_toggle div span:nth-child(1) {
top: 0px; }
#gnavi #nav_toggle div span:nth-child(2) {
top: 10px; }
#gnavi #nav_toggle div span:nth-child(3) {
top: 20px; }
#gnavi.open #nav_toggle div span:nth-child(1) {
top: 10px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
transform: rotate(135deg); }
#gnavi.open #nav_toggle div span:nth-child(2) {
width: 0;
left: 50%; }
#gnavi.open #nav_toggle div span:nth-child(3) {
top: 10px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
transform: rotate(-135deg); }
#gnavi nav {
display: none;
position: absolute;
top: 85px;
left: 0;
width: auto;
background: #5d848e;
z-index: 100; }
#gnavi nav > ul {
padding-bottom: 40px; }
#gnavi nav > ul > li {
list-style: none; }
#gnavi nav > ul > li a {
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
font-weight: 500;
-webkit-font-feature-settings: "palt";
font-feature-settings: "palt";
letter-spacing: 0.04em;
font-weight: 400;
display: block;
padding: 12px 52px;
color: #FFF; }
/*------------------------------------------------------------
12/15 gnavここまで
------------------------------------------------------------*/

#gnavi .logo {
position: absolute;
top: 50%;
left: 50%;
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-o-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%); 
margin-top:-4px;
margin-left:-2px;
}


#gnavi .logo img {
width: auto;
height: 75px; }
#gnavi .iconArea {
float: right;
margin: 22px 0 0; }
#gnavi .iconArea > li {
list-style: none;
float: left;
margin-left: 20px; }
#gnavi .iconArea > li:nth-of-type(1) {
list-style: none;
float: left;
margin-right: 50px; }
#gnavi .iconArea > li a {
display: block; }
#gnavi .iconArea > li a img {
width: auto;
height: 40px; }

/*------------------------------------------------------------
12/15 gtell
------------------------------------------------------------*/
#gtell_toggle {
display: block;
width: 30px;
height: 30px;
position: absolute;
top: 22px;
right:80px;
z-index: 100; }
#gtell_toggle:hover{
opacity:0.7;
}
#gtell_toggle div {
position: relative;
top:10px;
}
#gtell_toggle div img{
margin-top:-10px;
width: 28.95px;
}
#gtell_toggle div span {
display: block;
height: 2px;
background: #FFF;
position: absolute;
width: 100%;
left: 0;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;
opacity:0;
}
#gtell_toggle div span:nth-child(2) {
top: 0px; }
#gtell_toggle div span:nth-child(3) {
top: 10px; }
#gtell_toggle div span:nth-child(4) {
top: 20px; }
#gtell.open #gtell_toggle div img{
opacity:0;
}
#gtell.open #gtell_toggle div span:nth-child(2) {
opacity:1;
top: 10px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
transform: rotate(135deg); }
#gtell.open #gtell_toggle div span:nth-child(3) {
opacity:1;
width: 0;
left: 50%; }
#gtell.open #gtell_toggle div span:nth-child(4) {
opacity:1;
top: 10px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
transform: rotate(-135deg); }
#gtell .gtell {
display: none;
position: absolute;
top: 84px;
right:0px;
width: auto;
background: #5d848e;
z-index: 100;
padding:0 20px;
}
#gtell .gtell > ul {
display:block;
margin: 0 auto;
padding-bottom: 40px; 
  font-family: "Yu Gothic","游ゴシック",YuGothic,"Hiragino Kaku Gothic Pro","メイリオ", Meiryo,"MS Pゴシック", Helvetica, Arial, Verdana, sans-serif;
}
#gtell .gtell > ul > li {
margin:20px auto;
color:#fff;
font-size:12px;
text-align:center;
letter-spacing:2px;
list-style: none; 
}
#gtell .gtell > ul > li:nth-child(1){
margin:30px auto;
font-size:18px;
}
#gtell .gtell > ul > li:nth-child(2){
margin:20px auto;
font-size:18px;
}
#gtell .gtell > ul > li a {
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
-webkit-font-feature-settings: "palt";
font-feature-settings: "palt";
letter-spacing: 8px;
font-weight: 400;
display: block;
margin:0 auto;
box-sizing:border-box;
margin:20px;
margin-bottom:30px;
padding: 5px 20px;
color: #4f714c;
background: #ffff49;
font-size:24px;
position:relative;
}
#gtell .gtell > ul > li a:after{
font-family: 'FontAwesome';
content: "＞";
position: absolute;
top: 25%;
right: 10px;
font-size:14px;
}
/*------------------------------------------------------------
12/15 gtellここまで
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
.display {
  width: auto;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
#gnavi #nav_toggle {
  left: 12px; }
#gnavi nav {
  width: 100%; }
#gnavi nav > ul > li a {
  text-align: center; }
#gnavi .iconArea {
  margin: 22px 12px 0 0; }
#gnavi .iconArea > li {
  margin-left: 12px; } 
#gtell .gtell {
width: 100%;
padding:0;
}
#gtell .gtell > ul{
  overflow-y:scroll;
  width:100%;
}
#gnavi .iconArea > li:nth-of-type(1) {
display:none;
}

#gtell .gtell > ul > li:nth-child(1){
margin:15px auto;
font-size:16px;
}
#gtell .gtell > ul > li:nth-child(2){
margin:5px auto;
font-size:14px;
}
#gtell .gtell > ul > li {
display:block;
margin:10px auto;
color:#fff;
font-size:10px;
text-align:center;
letter-spacing:2px;
list-style: none; 
  line-height:1.8;
}
#gtell .gtell > ul > li a{
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
-webkit-font-feature-settings: "palt";
font-feature-settings: "palt";
letter-spacing: 8px;
font-weight: 400;
display: block;
box-sizing:border-box;
margin:5px 45px;
padding: 2px 10px;
color:#66828d;
background: #fff;
font-size:18px;
}
#gtell .gtell > ul > li a:after{
font-family: 'FontAwesome';
content: "＞";
position: absolute;
top: 17%;
right: 10px;
font-size:14px;
}
#gnavi.none #nav_toggle{
display:none;
}
}
.page_logo{
display:none;}

/*------------------------------------------------------------
12/17 バナーここから
------------------------------------------------------------*/
.top-bn {
position: fixed;
top:150px;
right: 20px;
font-size: 77%;
background:#666;
z-index:30;
}
.top-bn a{
background: #666;
text-decoration: none;
color: #fff;
width: 100%;
text-align: center;
display: block;
}
.top-bn a img{
width: 150px;
}
.top-bn a:hover {
opacity: 0.7;
}
.sp-bn {
width: 100%;
position: fixed;
top:auto;
bottom: 0;
right:0;
left:0;
margin: auto;
background:#666;
z-index:30;
}
.sp-bn a{
background: #666;
text-decoration: none;
color: #fff;
width: 100%;
text-align: center;
display: block;
}
.sp-bn a img{
width: 100%;
}
.sp-bn a:hover {
opacity: 0.7;
}
.top-bn a{
display: block;
}
.sp-bn a{
display: none;
}


@media screen and (max-width:700px){

.top-bn a{
  display: none;
}
.sp-bn a{
  display: block;
}
}
/*------------------------------------------------------------
12/17 バナーここまで
------------------------------------------------------------*/
footer{
  margin-bottom: 10px;
color: #555;
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
font-size: 80%;
letter-spacing: 0.07em;
line-height: 1.5;
text-align: center;}
small{
text-align: center;
}
/*------------------------------------------------------------
12/18 インタビューページリンク切り替え
------------------------------------------------------------*/
.pc-intv-link{
	display:block;
}
.sp-intv-link{
	display:none;
}
@media screen and (max-width:768px){
	.pc-intv-link{
	display:none;
}
.sp-intv-link{
	display:block;
}
}
/*------------------------------------------------------------
12/18 バナーここまでリンク切り替え
------------------------------------------------------------*/
