@charset "utf-8";
/* CSS Document */

body{
 /*フォントファミリゴシック*/
font-family: "Quicksand","游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
line-height: 1.5;
opacity: 1;
background: #fff;
/*background: url("../img/bg_demo.jpg") fixed no-repeat;*/
background-size: cover;
background-position: left;
}

section {
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}

div {
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;
}

.shadow {
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}


/* clearfix */
.clearfix:after{
	content: "."; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
}

section.main-content {
    height: auto;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
	width: 700px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	
}

.wrapper img {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

.wrapper video {
	display: block;
	width: 100%;
}

.content-img {
	width: 100%;
	height: auto;
}

/* main */

.relative {
	position: relative;
}

.c-button1 {
    top: 52.5%;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
	width: 90%;
}

.wrapper .c-button2 {
    display: block;
    left: 0;
	bottom: 36.5%;
    position: relative;
	position: absolute;
    right: 0;
    text-align: center;
	width: 90%;
}

.c-button3 {
    bottom: 0;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
	width: 100%;
}


.c-button4 {
    bottom: 10%;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
	width: 90%;
}


.c-button5{
    padding-bottom: 30px!important;
    background-color: #fff!important;
}



/* footer */

footer {
}

footer a {
	text-decoration: none; color: #000; font-size: 0.8em;
}

.f-link {
	width: 1000px;
	text-align: center;
	padding: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
}

/* animation */

.gif1 {
	position: absolute;
    width: 80%;
    right: 0;
    bottom: 7%;
    left: 0;
}

/* 点滅 */
.blink {
	-webkit-animation:blink 0.3s ease-in-out infinite alternate;
    -moz-animation:blink 0.3s ease-in-out infinite alternate;
    animation:blink 0.3s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0.3;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0.3;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0.3;}
    100% {opacity:1;}
}

.flowing {
	animation: flowing 1s infinite ease-out;
}

@keyframes flowing {
 0% {
transform:translateY(7px);
}
 50% {
transform:translateY(-7px);
}
 100% {
transform:translateY(7px);
}
}




@media screen and (max-width: 979px) {
	
.wrapper {
	width: 100%;
}

.img {
	max-width: 100%;
}

.wrapper img{
	max-width: 100%;
	height: auto;
}

/* footer */
	
.f-link {
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
    width: 100%;
	background: #fff;
}	

.f-link a {
	width: calc(100% / 3);
	display: block;
	float: left;
	text-align: center;
}

.f-link a {
    display: block;
    float: none;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
}

.pconly {
	display: none;
}
.img33{
    margin-top: -15%;
        }

}



/* add legit */
.form h2{
  margin:40px 0 0;
  text-align: center;
}
.form iframe {
    max-width: 100%;
    height: 1500px !important;
}
.form-btn{
  text-align: center;
  left: 0;
  right: 0;
  margin:auto;
  /*max-width: 700px;*/
}

.offer {
    position: relative;
    z-index : 1;
  }
  .offer-box1, .offer-box2 { position: relative;}
  /* .offer-box1 { padding-bottom: 15px;} */
  .offer-btn1, .offer-btn2,.cv_bpx,.offer-btn1_top,.cv_bpx_top  { position: absolute;}
  .offer-btn1 {
    width: 100%;
    left : 0px;
    top  : 1030px;
  }
  .offer-btn2 {
    height     : 100%;
    display    : flex;
    align-items: center;
    top        : 0;
    right      :30px;
  }
  
  .offer-box2{
      margin: 0;
    padding: 20px 0;
  }
.buy img{
    margin-top: 1px;
    margin-left: 5px;
}

.gif1{
    width: 40%;
    position: absolute;
    top: 1%;
    right: -60%;
    }
    .gif2{
      width: 60%;
      position: absolute;
      bottom: 29%;
      left:0;}
.sec18{
    background:#fff;}

    .wrapper .gif3 {
        display: block;
        left: 0;
        bottom: 48%;
        position: relative;
        position: absolute;
        right: 0;
        text-align: center;
        width: 90%;
    }

    .img33{
margin-top: -15% !important;
    }