/* ============================================
  Reset
============================================ */

img {
  vertical-align: top;
  max-width: 100%;
}

/* ============================================
  Base
============================================ */

a {
  transition: all 300ms;
}

a:hover {
  opacity: .65;
}

/* inview */

.inview {
  opacity: 0;
  transform: translateY(20px);
}

.inview.is-inview {
  opacity: 1;
  transition: transform 1s ease, opacity .5s ease;
  transform: translateY(0);
}

/* ============================================
  Wrapper
============================================ */

.wrapper {
  border-top: 10px solid #5C838E;
}

/* ============================================
  Inner
============================================ */

.inner {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

/* ============================================
  Header
============================================ */

.header {}

.header .btn_wrap {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  pointer-events: none;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.header .btn01 {
  display: block;
  float: right;
  pointer-events: auto;
  width: calc(255/2273*100%);
  margin-top: calc(161/2273*100%);
}

/* ============================================
  KV
============================================ */

.kv {
  position: relative;
}

.kv_fig01 {
  position: absolute;
  top: calc(632/1242*100%);
  right: calc(188/2273*100%);
  width: calc(502/2273*100%);
}

/* ============================================
  Section
============================================ */

.section01 {}

.section01>.inner::before {
  content: "";
  display: block;
}

.section01>.inner>* {
  position: absolute;
}

/* #section01 */

#section01>.inner::before {
  padding-top: calc(2614/2273*100%);
}

#section01 .heading01 {
  top: calc(68/2273*100%);
  left: calc(64/2273*100%);
  width: calc(1192/2273*100%);
}

#section01 .pic01_01 {
  top: calc(645/2614*100%);
  right: calc(143/2273*100%);
  width: calc(1218/2273*100%)
}

#section01 .pic01_02 {
  top: calc(1409/2614*100%);
  left: calc(64/2273*100%);
  width: calc(1134/2273*100%)
}

#section01 .text01_01 {
  top: calc(581/2614*100%);
  left: calc(64/2273*100%);
  width: calc(744/2273*100%)
}

#section01 .text01_02 {
  top: calc(1663/2614*100%);
  right: calc(176/2273*100%);
  width: calc(791/2273*100%)
}

/* #section02 */

#section02>.inner::before {
  padding-top: calc(2260/2273*100%);
}

#section02 .heading02 {
  top: 0;
  left: calc(64/2273*100%);
  width: calc(858/2273*100%);
}

#section02 .pic02_01 {
  top: calc(377/2260*100%);
  right: calc(135/2273*100%);
  width: calc(1124/2273*100%);
}

#section02 .text02_01 {
  top: calc(429/2260*100%);
  left: calc(64/2273*100%);
  width: calc(877/2273*100%)
}

#section02 .text02_02 {
  top: calc(1585/2260*100%);
  left: calc(64/2273*100%);
  width: calc(2067/2273*100%)
}

#section02 .text02_03 {
  top: calc(1370/2260*100%);
  left: calc(1014/2273*100%);
  width: calc(692/2273*100%)
}

/* #section03 */

#section03>.inner::before {
  padding-top: calc(1478/2273*100%);
}

#section03 .heading03 {
  top: 0;
  right: calc(392/2273*100%);
  width: calc(630/2273*100%);
}

#section03 .pic03_01 {
  top: calc(67/1478*100%);
  left: calc(67/2273*100%);
  width: calc(1124/2273*100%);
}

#section03 .text03_01 {
  top: calc(399/1478*100%);
  right: calc(135/2273*100%);
  width: calc(884/2273*100%)
}

#section03 .text03_02 {
  top: calc(1207/1478*100%);
  left: calc(64/2273*100%);
  width: calc(2071/2273*100%)
}

/* #section04 */

#section04>.inner::before {
  padding-top: calc(1792/2273*100%);
}

#section04 .heading04 {
  top: 0;
  left: calc(64/2273*100%);
  width: calc(816/2273*100%);
}

#section04 .pic04_01 {
  top: calc(537/1792*100%);
  right: calc(133/2273*100%);
  width: calc(1084/2273*100%);
}

#section04 .text04_01 {
  top: calc(342/1792*100%);
  left: calc(64/2273*100%);
  width: calc(1674/2273*100%)
}

/* #offer */

#offer {
  background-color: #5C838E;
}

#offer>.inner::before {
  padding-top: calc(6002/2273*100%);
}

#offer .pic_offer01 {
  top: calc(162/6002*100%);
  left: calc(137/2273*100%);
  width: calc(1968/2273*100%);
}

#offer .btn01 {
  top: calc(1520/6002*100%);
  right: calc(389/2273*100%);
  width: calc(509/2273*100%);
}

#offer .btn01_02 {
  top: calc(5614/6002*100%);
  left: 50%;
  transform: translateX(-50%);
}

#offer .point01 {
  top: calc(1832/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1415/2273*100%);
}

#offer .point02 {
  top: calc(2494/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1419/2273*100%);
}

#offer .point03 {
  top: calc(3129/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1916/2273*100%);
}

#offer .point04 {
  top: calc(3682/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1922/2273*100%);
}

#offer .note01 {
  top: calc(4256/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1916/2273*100%);
}

#offer .description01 {
  top: calc(4504/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1638/2273*100%);
}

#offer .description02 {
  top: calc(5276/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1898/2273*100%);
}