﻿@charset "utf-8";
/*voiceStart*/
.voice01,
.voice02,
.voice03,
.voice04,
.voice05,
.voice06,
.voice07,
.voice08,
.voice09 {
	padding-bottom: 42px;
}
.voice01 dt,
.voice02 dt,
.voice03 dt,
.voice04 dt,
.voice05 dt,
.voice06 dt,
.voice07 dt,
.voice08 dt,
.voice09 dt {
}
.voice01 dd,
.voice02 dd,
.voice03 dd,
.voice04 dd,
.voice05 dd,
.voice06 dd,
.voice07 dd,
.voice08 dd,
.voice09 dd {
	display: none;
}
.voice01 .accordion {
	width: 800px;
	height:102px;
}
.voice02 .accordion {
	width: 800px;
	height: 101px;
} 
.voice03 .accordion {
	width: 800px;
	height: 101px;
} 
.voice04 .accordion {
	width: 800px;
	height: 102px;
} 


.accordion.open img { display:none; } 
.voice01 .accordion.open {
	background: url(../img/voice1close.png) no-repeat left top;
}
.voice02 .accordion.open {
	background: url(../img/voice2close.png) no-repeat left top;
}
.voice03 .accordion.open {
	background: url(../img/voice3close.png) no-repeat left top;
}
.voice04 .accordion.open {
	background: url(../img/voice4close.png) no-repeat left top;
}

.frm-voice01 {
	/*padding: 274px 0 10px;*/
	background:#b0ccea;
}
/*voiceEnd*/

/*qaStart*/
.faq01,
.faq02,
.faq03,
.faq04,
.faq05,
.faq06,
.faq07,
.faq08,
.faq09 {
	padding-bottom: 7px;
}
.faq01 dt,
.faq02 dt,
.faq03 dt,
.faq04 dt,
.faq05 dt,
.faq06 dt,
.faq07 dt,
.faq08 dt,
.faq09 dt {
}
.faq01 dd,
.faq02 dd,
.faq03 dd,
.faq04 dd,
.faq05 dd,
.faq06 dd,
.faq07 dd,
.faq08 dd,
.faq09 dd {
	display: none;
}
.faq01 .accordion {
	width: 800px;
	height: 90px;
}
.faq02 .accordion {
	width: 800px;
	height: 90px;
} 
.faq03 .accordion {
	width: 800px;
	height: 90px;
} 
.faq04 .accordion {
	width: 800px;
	height: 90px;
} 
.faq05 .accordion {
	width: 800px;
	height: 90px;
} 
.faq06 .accordion {
	width: 800px;
	height: 57px;
} 
.faq07 .accordion {
	width: 800px;
	height: 57px;
} 
.faq08 .accordion {
	width: 800px;
	height: 57px;
} 
.faq09 .accordion {
	width: 800px;
	height: 57px;
} 
.accordion.open img { display:none; } 
.faq01 .accordion.open {
	background: url(../img/q1close.png) no-repeat left top;
}
.faq02 .accordion.open {
	background: url(../img/q2close.png) no-repeat left top;
}
.faq03 .accordion.open {
	background: url(../img/q3close.png) no-repeat left top;
}
.faq04 .accordion.open {
	background: url(../img/q4close.png) no-repeat left top;
}
.faq05 .accordion.open {
	background: url(../img/q5close.png) no-repeat left top;
}

.frm-faq01 {
	padding: 274px 0 10px;
	background:#ffffff url(../img/box31.png) no-repeat top center;
}
/*qaEnd*/


