/* ============================================
  Reset
============================================ */

img {
  vertical-align: top;
  max-width: 100%;
}

/* ============================================
  Base
============================================ */

a {
  transition: all 300ms;
  text-decoration: none;
}

a:hover {
  opacity: .65;
}

/* inview */

.inview {
  opacity: 0;
  transform: translateY(20px);
}

.inview.is-inview {
  opacity: 1;
  transition: transform 1s ease, opacity .5s ease;
  transform: translateY(0);
}

/* ============================================
  Wrapper
============================================ */

.wrapper {
  border-top: none;
}

/* ============================================
  Inner
============================================ */

.inner {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

/* ============================================
  Header
============================================ */

.header {}

.header .btn_wrap {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  pointer-events: none;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.header .btn01 {
  display: block;
  float: right;
  pointer-events: auto;
  width: calc(255/2273*100%);
  margin-top: 45px;
}

/* ============================================
  KV
============================================ */

.kv {
  position: relative;
}

.kv_fig01 {
  position: absolute;
  top: calc(580/1242*100%);
  left: calc(510/2273*100%);
  width: calc(300/2273*100%);
}
.kv_fig02 {
  position: absolute;
  top: calc(580/1242*100%);
  left: calc(188/2273*100%);
  width: calc(300/2273*100%);
}


/* ============================================
  Section01
============================================ */

.section01>.inner::before {
  content: "";
  display: block;
}

.section01>.inner>* {
  position: absolute;
}

/* #section01 */

#section01>.inner::before {
  padding-top: calc(1200/2273*100%);
}

#section01 .h1 {
  top: calc(150/2273*100%);
  left: calc(0/2273*100%);
  width: calc(925/2273*100%);
}

#section01 .img1 {
  top: calc(540/2614*100%);
  right: calc(5/2273*100%);
  width: calc(1100/2273*100%);
}
#section01 .t1 {
  top: calc(1000/2614*100%);
  left: calc(0/2273*100%);
  width: calc(900/2273*100%);
}

/* ============================================
  Section02
============================================ */

.section02>.inner::before {
  content: "";
  display: block;
}

.section02>.inner>* {
  position: absolute;
}

/* #section02 */

#section02>.inner::before {
  padding-top: calc(1257/2273*100%);
}

#section02 .h1 {
  top: calc(150/2273*100%);
  left: calc(1250/2273*100%);
  width: calc(901/2273*100%);
}

#section02 .img1 {
  top: calc(500/2614*100%);
  left: calc(5/2273*100%);
  width: calc(1118/2273*100%);
}
#section02 .t1 {
  top: calc(925/2614*100%);
  left: calc(1250/2273*100%);
  width: calc(900/2273*100%);
}


/* ============================================
  Section03
============================================ */

.section03>.inner::before {
  content: "";
  display: block;
}

.section03>.inner>* {
  position: absolute;
}

/* #section03 */

#section03>.inner::before {
  padding-top: calc(1300/2273*100%);
}

#section03 .h1 {
  top: calc(50/2273*100%);
  left: calc(0/2273*100%);
  width: calc(871/2273*100%);
}

#section03 .img1 {
  top: calc(430/2614*100%);
  right: calc(5/2273*100%);
  width: calc(1100/2273*100%);
}
#section03 .t1 {
  top: calc(925/2614*100%);
  left: calc(0/2273*100%);
  width: calc(900/2273*100%);
}

/* ============================================
  Section04
============================================ */

.section04>.inner::before {
  content: "";
  display: block;
}

.section04>.inner>* {
  position: absolute;
}

/* #section04 */

#section04>.inner::before {
  padding-top: calc(1600/2273*100%);
}

#section04 .h1 {
  top: calc(50/2273*100%);
  left: calc(1250/2273*100%);
  width: calc(801/2273*100%);
}

#section04 .img1 {
  top: calc(340/2614*100%);
  left: calc(5/2273*100%);
  width: calc(1150/2273*100%);
}
#section04 .t1 {
  top: calc(705/2614*100%);
  left: calc(1250/2273*100%);
  width: calc(904/2273*100%);
}
#section04 .t2 {
  top: calc(2305/2614*100%);
  left: calc(0/2273*100%);
  width: calc(744/2273*100%);
}

/* ============================================
  Section05
============================================ */

.section05>.inner::before {
  content: "";
  display: block;
}

.section05>.inner>* {
  position: absolute;
}

/* #section05 */

#section05>.inner::before {
  padding-top: calc(1150/2273*100%);
}

#section05 .h1 {
  top: calc(50/2273*100%);
  left: calc(0/2273*100%);
  width: calc(650/2273*100%);
}

#section05 .img1 {
  top: calc(460/2614*100%);
  right: calc(5/2273*100%);
  width: calc(1200/2273*100%);
}
#section05 .t1 {
  top: calc(805/2614*100%);
  left: calc(0/2273*100%);
  width: calc(940/2273*100%);
}

/* ============================================
  Section06
============================================ */

.section06>.inner::before {
  content: "";
  display: block;
}

.section06>.inner>* {
  position: absolute;
}

/* #section06 */

#section06>.inner::before {
  padding-top: calc(1050/2273*100%);
}

#section06 .h1 {
  top: calc(50/2273*100%);
  left: calc(1250/2273*100%);
  width: calc(901/2273*100%);
}

#section06 .img1 {
  top: calc(470/2614*100%);
  left: calc(5/2273*100%);
  width: calc(1158/2273*100%);
}
#section06 .t1 {
  top: calc(1090/2614*100%);
  left: calc(1250/2273*100%);
  width: calc(900/2273*100%);
}


/* ============================================
  Section07
============================================ */

.section07>.inner::before {
  content: "";
  display: block;
}

.section07>.inner>* {
  position: absolute;
}

/* #section07 */

#section07>.inner::before {
  padding-top: calc(1600/2273*100%);
}

#section07 .h1 {
  top: calc(50/2273*100%);
  left: calc(0/2273*100%);
  width: calc(825/2273*100%);
}

#section07 .img1 {
  top: calc(300/2614*100%);
  right: calc(5/2273*100%);
  width: calc(1200/2273*100%);
}
#section07 .t1 {
  top: calc(825/2614*100%);
  left: calc(0/2273*100%);
  width: calc(900/2273*100%);
}
#section07 .t2 {
  top: calc(2225/2614*100%);
  left: calc(0/2273*100%);
  width: calc(2080/2273*100%);
}








/*




#section02>.inner::before {
  padding-top: calc(1400/2273*100%);
}

#section02 .heading01 {
  top: calc(10/2273*100%);
  left: calc(1300/2273*100%);
  width: calc(791/2273*100%);
}

#section02 .heading02 {
  top: calc(68/2273*100%);
  left: calc(64/2273*100%);
  width: calc(858/2273*100%);
}

#section02 .pic02_01 {
  top: calc(250/2260*100%);
  left: calc(64/2273*100%);
  width: calc(1124/2273*100%);
}

#section02 .text02_01 {
  top: calc(700/2260*100%);
  left:calc(1300/2273*100%);
  width: calc(877/2273*100%);
}
#section02 .text02_02 {
  top: calc(2050/2260*100%);
  left: calc(68/2273*100%);
  width: calc(650/2273*100%);
}

#section02 .text02_03 {
  top: calc(1370/2260*100%);
  left: calc(1014/2273*100%);
  width: calc(692/2273*100%);
}






#sectionht>.inner::before {
  padding-top: calc(2000/2273*100%);
}

#sectionht .heading01 {
  top: calc(50/2273*100%);
  left: calc(68/2273*100%);
  width: calc(601/2273*100%);
}

#sectionht .heading02 {
  top: calc(1000/2273*100%);
  left: calc(68/2273*100%);
  width: calc(851/2273*100%);
}

#sectionht .pic02_01 {
  top: calc(150/2260*100%);
  left: calc(68/2273*100%);
  width: calc(1124/2273*100%);
}
#sectionht .pic02_02 {
  top: calc(1180/2260*100%);
  right: calc(10/2273*100%);
  width: calc(1224/2273*100%);
}

#sectionht .text02_01 {
  top: calc(410/2260*100%);
  left:calc(68/2273*100%);
  width: calc(2130/2273*100%);
}
#sectionht .text02_02 {
  top: calc(520/2260*100%);
  left: calc(68/2273*100%);
  width: calc(650/2273*100%);
}

#sectionht .text02_03 {
  top: calc(1450/2260*100%);
  left: calc(68/2273*100%);
  width: calc(800/2273*100%);
}




#section03>.inner::before {
  padding-top: calc(778/2273*100%);
}

#section03 .heading03 {
  top: calc(70/2273*100%);
  left: calc(68/2273*100%);
  width: calc(1100/2273*100%);
}
#section03 .heading00 {
  top: calc(200/2273*100%);
  left: calc(68/2273*100%);
  width: calc(1650/2273*100%);
}

#section03 .text00_01 {
  top: calc(730/1478*100%);
  left: calc(68/2273*100%);
  width: calc(2100/2273*100%)
}

#section03 .pic03_01 {
  top: calc(400/1478*100%);
  left: calc(67/2273*100%);
  width: calc(1624/2273*100%);
}


#section03 .text03_01 {
  top: calc(630/1478*100%);
  left: calc(68/2273*100%);
  width: calc(2100/2273*100%)
}

#section03 .text03_02 {
  top: calc(1350/1478*100%);
  left: calc(68/2273*100%);
  width: calc(700/2273*100%)
}
.heading03_line{
  margin-bottom: 10px;
}



#section04>.inner::before {
  padding-top: calc(1792/2273*100%);
}

#section04 .heading04 {
  top:  calc(30/1792*100%);
  left: calc(64/2273*100%);
  width: calc(816/2273*100%);
}

#section04 .pic04_01 {
  top: calc(237/1792*100%);
  right: calc(133/2273*100%);
  width: calc(1084/2273*100%);
}

#section04 .text04_01 {
  top: calc(520/1792*100%);
  left: calc(64/2273*100%);
  width: calc(2100/2273*100%)
}
.heading04_line{
  margin-bottom: 10px;
}



#section05 .text02_01{
  top: calc(820/1792*100%);
}

#section05>.inner::before {
  padding-top: calc(1700/2273*100%);
}

#section05 .heading01 {
  top: 0;
  left: calc(1300/2273*100%);
  width: calc(791/2273*100%);
}

#section05 .heading02 {
  top: calc(68/2273*100%);
  left: calc(64/2273*100%);
  width: calc(858/2273*100%);
}

#section05 .pic02_01 {
  top: calc(250/2260*100%);
  left: calc(64/2273*100%);
  width: calc(1124/2273*100%);
}
#section05 .pic02_02 {
  top: calc(1850/2260*100%);
  left: calc(64/2273*100%);
  width: calc(2100/2273*100%);
}

#section05 .text02_01 {
  top: calc(600/2260*100%);
  left:calc(1300/2273*100%);
  width: calc(877/2273*100%);
}
#section05 .text02_02 {
  top: calc(2050/2260*100%);
  left: calc(68/2273*100%);
  width: calc(650/2273*100%);
}

#section05 .text02_03 {
  top: calc(1370/2260*100%);
  left: calc(1014/2273*100%);
  width: calc(692/2273*100%);
}

*/

/* #offer */

#offer {
  background-color: #5C838E;
  margin-top: 50px;
}

#offer>.inner::before {
  padding-top: calc(3402/2273*100%);
}

#offer .pic_offer01 {
  top: calc(162/6002*100%);
  left: calc(137/2273*100%);
  width: calc(1968/2273*100%);
}
#offer .pic_offer_ht {
  top: calc(1600/3002*100%);
  left: calc(137/2273*100%);
  width: calc(1968/2273*100%);
}

#offer .btn01 {
  top: calc(2710/6002*100%);
  right: calc(540/2273*100%);
  width: calc(509/2273*100%);
}

#offer .btn02 {
  top: calc(5445/6002*100%);
  right: calc(540/2273*100%);
  width: calc(509/2273*100%);
}

#offer .point01 {
  top: calc(1832/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1415/2273*100%);
}

#offer .point02 {
  top: calc(2494/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1419/2273*100%);
}

#offer .point03 {
  top: calc(3129/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1916/2273*100%);
}

#offer .point04 {
  top: calc(3682/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1922/2273*100%);
}

#offer .note01 {
  top: calc(4256/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1916/2273*100%);
}

#offer .description01 {
  top: calc(4504/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1638/2273*100%);
}

#offer .description02 {
  top: calc(5276/6002*100%);
  left: calc(159/2273*100%);
  width: calc(1898/2273*100%);
}














/*------------------------------------------------------------
12/15 gnavここまで
------------------------------------------------------------*/

/*------------------------------------------------------------
12/15 header-kasou
------------------------------------------------------------*/

.display {
  width: 1050px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
.gnavi_block{
  height: 85px;
}
main{
  margin-top: 50px;
}
h1 img{
  width: 960px;
  display: block;
  margin: 0 auto;
}
/*------------------------------------------------------------
12/15 gnav
------------------------------------------------------------*/
#gnavi {
width: 100vw;
height: 85px;
background: #5d848e;
position: fixed;
top: 0;
left: 0;
z-index: 300;
-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
/*hamburger menu open style*/
/* nav */ }
#gnavi.fixed {
position: fixed;
top: 0;
left: 0; }
#gnavi .display {
height: 100%; }
#gnavi #nav_toggle {
display: block;
width: 30px;
height: 30px;
position: absolute;
top: 30px;
z-index: 100; }
#gnavi #nav_toggle div {
position: relative; }
#gnavi #nav_toggle div span {
display: block;
height: 2px;
background: #FFF;
position: absolute;
width: 100%;
left: 0;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out; }
#gnavi #nav_toggle div span:nth-child(1) {
top: 0px; }
#gnavi #nav_toggle div span:nth-child(2) {
top: 10px; }
#gnavi #nav_toggle div span:nth-child(3) {
top: 20px; }
#gnavi.open #nav_toggle div span:nth-child(1) {
top: 10px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
transform: rotate(135deg); }
#gnavi.open #nav_toggle div span:nth-child(2) {
width: 0;
left: 50%; }
#gnavi.open #nav_toggle div span:nth-child(3) {
top: 10px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
transform: rotate(-135deg); }
#gnavi nav {
display: none;
position: absolute;
top: 85px;
left: 0;
width: auto;
background: #5d848e;
z-index: 100; }
#gnavi nav > ul {
padding-bottom: 40px; }
#gnavi nav > ul > li {
list-style: none; }
#gnavi nav > ul > li a {
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
font-weight: 500;
-webkit-font-feature-settings: "palt";
font-feature-settings: "palt";
letter-spacing: 0.04em;
font-weight: 400;
display: block;
padding: 12px 52px;
color: #FFF; }
/*------------------------------------------------------------
12/15 gnavここまで
------------------------------------------------------------*/

#gnavi .logo {
position: absolute;
top: 50%;
left: 50%;
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
-o-transform: translateX(-50%) translateY(-50%);
-ms-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%); 
margin-top:-4px;
margin-left:-2px;
}


#gnavi .logo img {
width: auto;
height: 75px;
margin-top: 8px;
}
#gnavi .iconArea {
float: right;
margin: 22px 0 0; }
#gnavi .iconArea > li {
list-style: none;
float: left;
margin-left: 20px; }
#gnavi .iconArea > li:nth-of-type(1) {
list-style: none;
float: left;
margin-right: 0px; }
#gnavi .iconArea > li a {
display: block; }
#gnavi .iconArea > li a img {
width: auto;
height: 40px; }

/*------------------------------------------------------------
12/15 gtell
------------------------------------------------------------*/
#gtell_toggle {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 22px;
	right:65px;
  z-index: 100; }
@media screen and (max-width: 768px) {
#gtell_toggle {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 22px;
	right:15px;
  z-index: 100; }
}
#gtell_toggle:hover{
opacity:0.7;
}
#gtell_toggle div {
position: relative;
top:10px;
}
#gtell_toggle div img{
margin-top:-10px;
width: 28.95px;
}
#gtell_toggle div span {
display: block;
height: 2px;
background: #FFF;
position: absolute;
width: 100%;
left: 0;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;
opacity:0;
}
#gtell_toggle div span:nth-child(2) {
top: 0px; }
#gtell_toggle div span:nth-child(3) {
top: 10px; }
#gtell_toggle div span:nth-child(4) {
top: 20px; }
#gtell.open #gtell_toggle div img{
opacity:0;
}
#gtell.open #gtell_toggle div span:nth-child(2) {
opacity:1;
top: 10px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
transform: rotate(135deg); }
#gtell.open #gtell_toggle div span:nth-child(3) {
opacity:1;
width: 0;
left: 50%; }
#gtell.open #gtell_toggle div span:nth-child(4) {
opacity:1;
top: 10px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
transform: rotate(-135deg); }
#gtell .gtell {
display: none;
position: absolute;
top: 84px;
right:0px;
width: auto;
background: #5d848e;
z-index: 100;
padding:0 20px;
}
#gtell .gtell > ul {
display:block;
margin: 0 auto;
padding-bottom: 40px; 
  font-family: "Yu Gothic","游ゴシック",YuGothic,"Hiragino Kaku Gothic Pro","メイリオ", Meiryo,"MS Pゴシック", Helvetica, Arial, Verdana, sans-serif;
}
#gtell .gtell > ul > li {
margin:20px auto;
color:#fff;
font-size:12px;
text-align:center;
letter-spacing:2px;
list-style: none; 
}
#gtell .gtell > ul > li:nth-child(1){
margin:30px auto;
font-size:18px;
}
#gtell .gtell > ul > li:nth-child(2){
margin:20px auto;
font-size:18px;
}
#gtell .gtell > ul > li a {
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
-webkit-font-feature-settings: "palt";
font-feature-settings: "palt";
letter-spacing: 8px;
font-weight: 400;
display: block;
margin:0 auto;
box-sizing:border-box;
margin:20px;
margin-bottom:30px;
padding: 5px 20px;
color: #4f714c;
background: #ffff49;
font-size:24px;
position:relative;
}
#gtell .gtell > ul > li a:after{
font-family: 'FontAwesome';
content: "＞";
position: absolute;
top: 25%;
right: 10px;
font-size:14px;
}
/*------------------------------------------------------------
12/15 gtellここまで
------------------------------------------------------------*/
@media screen and (max-width: 768px) {
.display {
  width: auto;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
#gnavi #nav_toggle {
  left: 12px; }
#gnavi nav {
  width: 100%; }
#gnavi nav > ul > li a {
  text-align: center; }
#gnavi .iconArea {
  margin: 22px 12px 0 0; }
#gnavi .iconArea > li {
  margin-left: 12px; } 
#gtell .gtell {
width: 100%;
padding:0;
}
#gtell .gtell > ul{
  overflow-y:scroll;
  width:100%;
}
#gnavi .iconArea > li:nth-of-type(1) {
display:none;
}

#gtell .gtell > ul > li:nth-child(1){
margin:15px auto;
font-size:16px;
}
#gtell .gtell > ul > li:nth-child(2){
margin:5px auto;
font-size:14px;
}
#gtell .gtell > ul > li {
display:block;
margin:10px auto;
color:#fff;
font-size:10px;
text-align:center;
letter-spacing:2px;
list-style: none; 
  line-height:1.8;
}
#gtell .gtell > ul > li a{
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
-webkit-font-feature-settings: "palt";
font-feature-settings: "palt";
letter-spacing: 8px;
font-weight: 400;
display: block;
box-sizing:border-box;
margin:5px 45px;
padding: 2px 10px;
color:#66828d;
background: #fff;
font-size:18px;
}
#gtell .gtell > ul > li a:after{
font-family: 'FontAwesome';
content: "＞";
position: absolute;
top: 17%;
right: 10px;
font-size:14px;
}
#gnavi.none #nav_toggle{
display:none;
}
}
.page_logo{
display:none;}

/*------------------------------------------------------------
12/17 バナーここから
------------------------------------------------------------*/
.top-bn {
  position: fixed;
  top:100px;
  left: 20px;
  font-size: 77%;
	z-index:300;
}
.top-bn a{
  text-decoration: none;
  color: #fff;
  width: 100%;
  text-align: center;
  display: block;
}
.top-bn a img{
  width: 140px;
}
.top-bn a:hover {
  opacity: 0.7;
}

.top-bn_ht {
  position: fixed;
  top:100px;
  right: 20px;
  font-size: 77%;
	z-index:300;
}
.top-bn_ht a{
  text-decoration: none;
  color: #fff;
  width: 100%;
  text-align: center;
  display: block;
}
.top-bn_ht a img{
  width: 140px;
}
.top-bn_ht a:hover {
  opacity: 0.7;
}


.sp-bn {
  width: 100%;
  position: fixed;
  top:auto;
  bottom: 0;
  right:0;
  left:0;
margin: auto;
	z-index:300;
	display:flex;
	justify-content:center;
}
.sp-bn a{
  text-decoration: none;
  color: #fff;
  width: 100%;
  text-align: center;
  display: block;
}
.sp-bn a img{
  width: 100%;
}

.top-bn a{
  display: block;
}
.sp-bn a{
  display: none;
}


@media screen and (max-width:768px){

.top-bn a{
    display: none;
  }
	.top-bn_ht a{
    display: none;
  }
  .sp-bn a{
    display: block;
  }
}
/*------------------------------------------------------------
12/17 バナーここまで
------------------------------------------------------------*/
footer{
  margin-bottom: 10px;
color: #555;
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
font-size: 80%;
letter-spacing: 0.07em;
line-height: 1.5;
text-align: center;}
small{
text-align: center;
}
/*------------------------------------------------------------
12/18 インタビューページリンク切り替え
------------------------------------------------------------*/
.pc-intv-link{
	display:block;
}
.pc-intv-link img{
	display:block;
	width:100px;
}
.sp-intv-link{
	display:none;
}
@media screen and (max-width:768px){
	.pc-intv-link{
	display:none;
}
.sp-intv-link{
	display:block;
	width:215px;
	margin: 0 auto;
}
.sp-intv-link img{
		width:110px;
}
}
/*------------------------------------------------------------
12/18 バナーここまでリンク切り替え
------------------------------------------------------------*/
