@charset "utf-8";

/*normalize.cssでできるmargineをリセットStart*/
h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li{margin:0;padding:0;}
/*normalize.cssでできるmargineをリセットEnd*/
body {
    width: 100%;
    height: 100%;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}
img {
    max-width: 100%;
	height: auto;
}
img {
vertical-align:bottom;
}
a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
#wrap {
	margin: 0px auto;
	width: 800px;
}
.contactWrap02 {
	position: fixed;
	/*left: 0px;*/
	bottom: 0px;
	z-index: 59999;
	display: none;
}
#box4{
position: relative;
}
#box4 #btn1{
position: absolute;
top:1405px;
left:50px;
}
#box4 #btn2{
position: absolute;
top:1651px;
left:409px;
}
#box37{
margin-top: 85px;
position: relative;
}
#box37 #btn3{
position: absolute;
top:1410px;
left:50px;
}
#box37 #btn4{
position: absolute;
top:1918px;
left:409px;
}
#box38{
position: relative;
}
#box38 #btn5{
position: absolute;
top:182px;
left:422px;
}
#box38 #btn6{
position: absolute;
top:406px;
left:422px;
}
#box38 #btn7{
position: absolute;
top:631px;
left:422px;
}
#content iframe{
width: 798px;
height: 1700px;
}
#box44{
height: 44px;
}
#box44 ul{
margin-left: 60px;
}
#box44 li {
font-family: "ＭＳ Ｐ明朝", MS PMincho,"ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, serif;
font-size: 24px;
border-left:1px solid #223c70;
padding-left:6px;
margin-left:6px;
display: -moz-inline-box;
display: inline-block;
*display: inline;
*zoom: 1;
}
#box44 li:first-child{
border-left:none;
}

#box44 a {
text-decoration: none;
}
.mgt60{
margin-top: 60px;
}
/* --------------------------------------------------------
 メディアクエリ
----------------------------------------------------------- */
@media screen and (max-width: 480px) {

}
/*iphone6*/
@media screen and (max-width: 375px) {


}
/*iphone5*/
@media screen and (max-width: 320px) {

}