/* ============================================
  Reset
============================================ */

img {
  vertical-align: top;
  max-width: 100%;
}

/* ============================================
  Base
============================================ */

a {
  transition: all 300ms;
}

a:hover {
  opacity: .65;
}

/* ============================================
  Wrapper
============================================ */

.wrapper {
  border-top: calc(13/960*100vw) solid #5C838E;
}

@media(min-width: 961px) {
  .wrapper {
    border-top-width: 13px;
  }
}

/* ============================================
  Section
============================================ */

.section {
  width: 100%;
  margin: 0 auto;
}

.section>.inner {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

/* Section01 */

.section01 .link01 {
  position: fixed;
  top: calc(50/960*100vw);
  z-index: 999;
  max-width: 160px;
  width: calc(160/960*100vw);
  max-height: 160px;
  height: calc(160/960*100vw);
  margin-left: calc(766/960*100vw);
}

@media(min-width: 961px) {
  .section01 .link01 {
    top: 50px;
    margin-left: 766px;
  }
}

/* Section06 */

.section06 {
  background-color: #5C838E;
}

.section06 .link01 {
  position: absolute;
  left: 50%;
  bottom: calc(110/960*100vw);
  transform: translateX(-50%);
  max-width: 427px;
  width: calc(427/960*100vw);
}

@media(min-width: 961px) {
  .section06 .link01 {
    bottom: 110px
  }
}

/* ============================================
  Accordion
============================================ */

.accordion {
  position: relative;
  min-height: calc(266/960*100vw);
}

.accordionTrigger {
  position: absolute;
  top: 0;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

@media(min-width: 961px) {
  .accordion {
    min-height: 266px;
  }
}

  .link01 img:hover{
    transition: 0.3s;
  }   

  .link01 img:hover{
    opacity: 0;
    transition: 0.3s;
  }
