@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
  min-width: 800px;
  position: relative;
  color: #333;
  font-size: 1rem;
  text-align: center;
}

img {
  border: none;
  vertical-align: bottom;
}

ul, ol {
  list-style: none;
}

.btn {
  display: inline-block;
}

.btn img {
  transition: .3s;
}

.btn:hover img {
  opacity: .7;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posr {
  position: relative;
}

.inview li {
  opacity: 0;
}

.inview li:nth-child(1) {
  transition: 1s;
}

.inview li:nth-child(2) {
  transition: 1s .2s;
}

.inview li:nth-child(3) {
  transition: 1s .4s;
}

.inview li:nth-child(4) {
  transition: 1s .6s;
}

.inview li:nth-child(5) {
  transition: 1s .8s;
}

.inview li:nth-child(6) {
  transition: 1s 1s;
}

.inview li:nth-child(7) {
  transition: 1s 1.2s;
}

.inview li:nth-child(8) {
  transition: 1s 1.4s;
}

.inview li:nth-child(9) {
  transition: 1s 1.6s;
}

.inview li:nth-child(10) {
  transition: 1s 1.8s;
}

.is-inview li {
  opacity: 1;
}

.main,
.footer {
  width: 800px;
  margin: 0 auto;
}

.main-visual {
  position: relative;
  z-index: 1;
}


.main-gif {
  position: absolute;
　width: 100%;
  right: -20px;
  top: 70px;
}

.sec1 {
    margin-top: -340px;
    margin-bottom: -130px;
  background: #f3f9ff;
}

.offer {
  position: relative;
  z-index: 1;
}

.offer-box1, .offer-box2 {
  position: relative;
}

.offer-box1 {
  padding-bottom: 15px;
}

.offer-btn1, .offer-btn2 {
  position: absolute;
}

.offer-btn1 {
  width: 100%;
  left: 0px;
  top: 1030px;
}

.offer-btn2 {
  right: 59px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.offer .offer-box1 {
  background: linear-gradient(transparent 154px, #f3f9ff 154px);
}

.sec2 {
  margin-top: -350px;
  position: relative;
}
.sec2-abs {
  font-family: "ＭＳ Ｐ明朝", "Sawarabi Mincho",MS PMincho,"ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, serif;
  position: absolute;
  line-height: 1.5em;
  top: 20%;
  font-weight: bold;
  font-size: 340%;
  right: 9%;
  color: #053973;
}

.sec3 {
  margin-top: -24px;
}

.sec3 li {
  background-repeat: no-repeat;
}

.sec3 ul:nth-of-type(1) li {
  background-image: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/bg-sec3-1.png);
}

.sec3 ul:nth-of-type(2) li {
  background-image: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/bg-sec3-2.png);
}

.sec3 ul:nth-of-type(3) li {
  background-image: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/bg-sec3-3.png);
}

.sec4 li {
  position: absolute;
}

.sec4 li:nth-child(1) {
  left: 367px;
  top: 92px;
}

.sec4 li:nth-child(2) {
  left: 262px;
  top: 263px;
}

.sec4 li:nth-child(3) {
  left: 211px;
  top: 454px;
}

.sec4 li:nth-child(4) {
  left: 262px;
  top: 646px;
}

.sec4 li:nth-child(5) {
  left: 367px;
  top: 814px;
}

.sec7 {
  margin-top: -161px;
}

.sec9 {
  position: relative;
}

.sec9 ul {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 487px;
}

.sec9 li {
  position: absolute;
}

.sec9 li:nth-child(1) {
  left: 28px;
  top: 425px;
}

.sec9 li:nth-child(2) {
  left: 29px;
  top: 149px;
}

.sec9 li:nth-child(3) {
  left: 284px;
  top: 17px;
}

.sec9 li:nth-child(4) {
  left: 544px;
  top: 151px;
}

.sec9 li:nth-child(5) {
  left: 544px;
  top: 441px;
}

.sec9 figure {
  position: absolute;
  left: 214px;
  top: 701px;
}

.sec10 {
  /* margin-top: -409px; */
  position: relative;
  margin-bottom: 80px;
}

.sec11 li {
  position: absolute;
}

.sec11 li:nth-child(1) {
  left: 400px;
  top: 71px;
}

.sec11 li:nth-child(2) {
  left: 535px;
  top: 199px;
}

.sec11 li:nth-child(3) {
  left: 613px;
  top: 366px;
}

.sec11 li:nth-child(4) {
  left: 535px;
  top: 536px;
}

.sec11 li:nth-child(5) {
  left: 400px;
  top: 663px;
}

.sec11 li:nth-child(6) {
  left: 223px;
  top: 663px;
}

.sec11 li:nth-child(7) {
  left: 88px;
  top: 536px;
}

.sec11 li:nth-child(8) {
  left: 10px;
  top: 366px;
}

.sec11 li:nth-child(9) {
  left: 88px;
  top: 199px;
}

.sec11 li:nth-child(10) {
  left: 223px;
  top: 71px;
}

.sec13 ul {
  position: relative;
  background: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/fig-sec13-2.png) no-repeat center top;
  height: 760px;
}

.sec13 li {
  position: absolute;
}

.sec13 li:nth-child(1) {
  left: 302px;
  top: 0px;
}

.sec13 li:nth-child(2) {
  left: 100px;
  top: 92px;
}

.sec13 li:nth-child(3) {
  left: 49px;
  top: 310px;
}

.sec13 li:nth-child(4) {
  left: 189px;
  top: 478px;
}

.sec13 li:nth-child(5) {
  left: 415px;
  top: 478px;
}

.sec13 li:nth-child(6) {
  left: 552px;
  top: 310px;
}

.sec13 li:nth-child(7) {
  left: 502px;
  top: 93px;
}

.sec16 {
  background: #a1ddde;
  padding-bottom:20px; 
}


.sec16 h2 {
  position: relative;
  top: -61px;
  margin-bottom: -61px;
}

.sec17 > p {
  margin-bottom: 30px;
}

.sec17 .acc {
  margin-bottom: 40px;
}

.sec17 .acc-txt {
  margin-top: 50px;
  display: none;
}

.sec17 .acc-btn {
  background: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/btn-acc1.png) no-repeat;
  width: 280px;
  margin: 0 auto;
  height: 82px;
  text-indent: -9999px;
  cursor: pointer;
}

.sec17 .acc-btn span {
  display: none;
}

.sec17 .is-active .acc-btn {
  margin-top: 30px;
  background-image: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/btn-acc2.png);
}

.sec17 .is-active .acc-txt {
  display: block;
}

.sec18 .acc dt {
  margin-bottom: 50px;
  position: relative;
}

.sec18 .acc dt:after {
  content: "";
  width: 54px;
  height: 54px;
  background: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/icon-plus.png) no-repeat;
  position: absolute;
  right: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.sec18 .acc dd {
  display: none;
  margin-bottom: 70px;
}

.sec18 .acc .is-active:after {
  background-image: url(https://by-shizuka.jp/wp/wp-content/themes/byshizuka/img/gel_lp/icon-minus.png);
}

.sec18 .acc .is-active + dd {
  display: block;
}

.offer2 {
  margin-top: 80px;
}

.offer2 .offer-box1 {
  margin-bottom: 10px;
}

.sec19 ul {
  border: 2px solid #0f559a;
  padding: 27px 12px 11px 21px;
  margin: 0 20px;
}

.sec19 li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

.sec19 li:last-child {
  margin-bottom: 0;
}

.sec19 li a {
  display: block;
  margin-top: -6px;
}

.sec19 li + li {
  border-top: 1px solid #0f559a;
  padding-top: 30px;
}

.sec21 p { margin-top:40px;}
.sec21 .graph {
  padding-bottom: 30px;
}

.sec22 {
  position: relative;
}

.sec22-abs{font-family: "ＭＳ Ｐ明朝", "Sawarabi Mincho",MS PMincho,"ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, serif;
    position: absolute;
    line-height: 1.8em;
    top: 22%;
    font-weight: bold;
    font-size: 230%;
    left: 14%;}


.sec22 h2 {
  position: absolute;
  top: 0;
  z-index: 1;
}

.form iframe {
  width: 800px;
  height: 1700px;
}

.footer ul {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.footer li {
  font-family: "ＭＳ Ｐ明朝", "Sawarabi Mincho",MS PMincho,"ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0 12px 0 10px;
}

.footer li a {
  color: #003871;
  text-decoration: none;
}

.footer li a:hover {
  opacity: .7;
}

.footer li + li {
  border-left: 2px solid #003871;
}
